@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Nova+Mono&display=swap');
@media screen and (min-width: 120vh) {
  .App {
    font-size: 2.6vw !important;
  }
  .clock {
    position: absolute;
    bottom: 55vh;
    left: 0;
    width: 50vw;
    font-size: 3.6em !important;
  }
  .doingAndNext {
    position: absolute;
    top: 45vh;
    left: 0;
    height: 55vh;
    overflow: hidden;
    width: 50vw;
    vertical-align: top;
    margin-bottom: 0 ! important;
  }
  .approaching {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    right: 0;
    width: 50vw;
    max-height: 100vh;
    font-size: 1.1em;
    overflow: hidden;
  }
  .setIco {
    width: 3vw !important;
  }
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

.App {
  text-align: center;
  font-size: 5vw;
}

.doingAndNext {
  margin-bottom: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  margin: 0.1em 0.1em 0.5em 0.1em;
}

.sched {
  display: inline-block;
  overflow: hidden;
  height: 1.5em;
  line-height: 1.5em;
  text-align: left;
  vertical-align: bottom;
}

.clock {
  font-size: 3em;
  font-weight: 100;
  font-family: 'Nova Mono', monospace;
}

.tHM {
  width: 2.8em;
  font-family: 'Nova Mono', monospace;
}

.tHMS {
  width: 5em;
  font-family: 'Nova Mono', monospace;
}

.tSY {
  width: 1em;
  margin: 0 -0.1em;
  transform: scale3d(0.7, 0.9, 1);
}

.title {
  width: 8em;
  padding: 0 0.5em;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center !important;
}

.bigTitle {
  width: 8em;
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center !important;
  display: inline-block;
}

.suffix {
  width: 6em;
  margin: 0 0.5em 0 3.5em;
  font-family: 'Noto Sans JP', sans-serif;
}

.dMark {
  width: 0.2em;
  margin: 0 0.3em;
  transform: scale3d(2, 2, 1) translateY(-4%);
}

.underlined {
  border: solid;
  border-width: 0 0 10px 0;
}

.setIco {
  display: block;
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 6vw;
  opacity: 0.01;
  transition: all .3s;
}

.setIco:hover {
  opacity: 0.5;
}

.setLabel {
  display: inline-block;
  width: 6em;
}

input, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,select {
  border: 0.1em solid #CCC;
  border-radius: 0.5em;
  margin: 0.25em;
}

input[type="number"] {
  width: 2em;
}

input[type="text"] {
  width: 6em;
}

select {
  width: 13em;
}

button {
  border: 1px solid #999;
  background-color: #999;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  margin: 2px 5px;
}

.scheLi {
  margin: 0.5em 0;
}

.settingModal {
  margin: 0;
  max-height: 94vh;
  overflow: auto;
}