body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sched {
  display: inline-block;
  overflow: hidden;
  height: 1.5em;
  text-align: left;
}

.clock {
  font-size: 3em;
  font-weight: 500;
}
.tHM {
  width: 2.5em;
}

.tHMS {
  width: 5em;
}

.title {
  width: 5em;
  padding: 0 0.5em;
}